<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1057924787061-775hbk2v6su8reg70abuuctvd3jck9d5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1057924787061-775hbk2v6su8reg70abuuctvd3jck9d5</string>
	<key>API_KEY</key>
	<string>AIzaSyDhFFQQF21fvK8em6WVMgrG0S03HD8r458</string>
	<key>GCM_SENDER_ID</key>
	<string>1057924787061</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ua.alexandrHalupa.Sour-Chat</string>
	<key>PROJECT_ID</key>
	<string>sour-chat-alex</string>
	<key>STORAGE_BUCKET</key>
	<string>sour-chat-alex.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1057924787061:ios:4a03e471e428a89646413c</string>
</dict>
</plist>